__pycache__/
.pytest_cache
.coverage*
.coverage-reports/
.DS_Store
.venv
artifacts/
coverage-reports/
tools/
venv
**/*.mpy
firmware.uf2

# libs
flight-software/src/lib/*
!flight-software/src/lib/requirements.txt
!flight-software/src/lib/proveskit_rp2040_v4/

ground-station/src/lib/*
!ground-station/src/lib/requirements.txt
!ground-station/src/lib/proveskit_rp2040_v4/
